body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.bg {
    background-color: #121212;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #1d1d1d;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.login-container h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.action-buttons {
text-align: center;
}

.action-buttons button,
.input-group input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1db954;
    color: white;
    cursor: pointer;
}

.action-buttons button:hover,
.input-group input[type="submit"]:hover {
    background-color: #1ed760;
}

.login-container a {
    color: #b3b3b3;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 15px;
}

.login-container a:hover {
    text-decoration: underline;
}
